# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Asset Store tools
[Aa]ssets/AssetStoreTools*

# User-specific files
[Uu]ser[Ss]ettings/
[Pp]ackages/com.unity.package-manager*

# Visual Studio / MonoDevelop / Rider project files
.vscode/
.vscode/*
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Rider
.idea/
*.idea/
*.iml

# Other files and directories created by Unity
.DS_Store